*
  margin: 0
  padding: 0
  box-sizing: border-box

@font-face
  font-family: 'Good Vibes Pro Regular'
  src: url('../fonts/GoodVibesPro.eot')
  src: url('../fonts/GoodVibesPro.eot?#iefix') format("embedded-opentype"),
  url('../fonts/GoodVibesPro.woff') format("woff"),
  url('../fonts/GoodVibesPro.ttf') format("truetype")
  font-weight: normal
  font-style: normal

body
    margin: 0
    color: #000

a
    text-decoration: none

ul
    list-style-type: none
    margin: 0
    padding: 0

section, main
    height: 100vh

.container
    max-width: 1200px
    margin: 0 auto

.hover-slider-nav
    position: absolute
    top: 0
    left: 0
    z-index: 5
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    width: 100%
    height: 100%
    background-color: rgba(0, 0, 0, .4)
    &__item
        padding: 2vh
        font-size: 8vh
        font-weight: bold
    &__link
        color: rgba(255, 255, 255, .7)
        transition: .2s
        &--active
            color: rgba(255, 255, 255, 1)

.hover-slider
    position: relative
    width: 100%
    height: 100%
    overflow: hidden
    background-color: #000
    &__item
        position: absolute
        top: -2vh
        left: -2vw
        width: 104vw
        height: 104vh
        opacity: 0
        transition: .4s linear
        transform: translateY(-2vh)
        &-img
            width: 100%
            height: 100%
            object-fit: cover;
        &--active
            opacity: 1
            transform: translateY(0)

.container
    max-width: 1200px
    margin: 50px auto

::selection
  color: #fff
  background: #007bff

.wrapper
  margin: 100px auto
  max-width: 1100px

.nav
  display: flex
  justify-content: space-around
  &__item
    width: 120px;
    height: 50px;
    border: none
    font: inherit;
    color: inherit;
    background-color: #e91e6314;
    border-radius: 10px;
    cursor: pointer
    transition: all 0.3s ease
  &__item.active,
  &__item:hover
    color: #fff
    background: #e91e63

.gallery
  display: flex
  flex-wrap: wrap
  margin-top: 30px
  &__image
    width: calc(100% / 8)
    margin: 7px
    overflow: hidden
  &__image.hide
    display: none
  &__image.hide
    display: none
  &__image.hide
    display: none
  &__image.show
    animation: animate 0.4s ease
  &__img
    width: 100%
    vertical-align: middle
    transition: all 0.3s ease
  &__img:hover 
    transform: scale(1.1)

@keyframes animate 
  0%
    transform: scale(0.5)
  
  100%
    transform: scale(1)

.video
  position: relative
  width: 100%
  height: 100vh
  &__carousel
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100vh
    object-fit: cover
  &__items
    position: absolute
    bottom: 40px
    left: 50%
    transform: translateX(-50%)
    z-index: 4
    display: flex
    justify-content: center
    align-items: center
  &__item
    margin: 0 10px
    border-radius: 4px
    background-color: #fff
    padding: 3px 3px 0
    opacity: 0.7
    transition: 0.5s
  &__item:hover
    opacity: 1
  &__img
    width: 150px
    transition: 0.5s
  &__img:hover
    width: 200px



