*
  margin: 0
  padding: 0
  box-sizing: border-box

@font-face 
	font-family: 'Montserrat' 
	font-style: normal 
	font-weight: 400 
	src: local(''),
      url:('../fonts/montserrat-v15-cyrillic-ext_cyrillic-regular.woff2') format('woff2'), 
      url('../fonts/montserrat-v15-cyrillic-ext_cyrillic-regular.woff') format('woff') 
	font-family: 'Montserrat' 
	font-style: normal 
	font-weight: 500 
	src: local(''),
      url:('../fonts/montserrat-v15-cyrillic-ext_cyrillic-500.woff2') format('woff2'), 
      url('../fonts/montserrat-v15-cyrillic-ext_cyrillic-500.woff') format('woff') 
	font-family: 'Montserrat' 
	font-style: italic 
	font-weight: 500 
	src: local(''),
      url:('../fonts/montserrat-v15-cyrillic-ext_cyrillic-500italic.woff2') format('woff2'), 
      url('../fonts/montserrat-v15-cyrillic-ext_cyrillic-500italic.woff') format('woff') 
	font-family: 'Montserrat' 
	font-style: normal 
	font-weight: 700 
	src: local(''),
      url:('../fonts/montserrat-v15-cyrillic-ext_cyrillic-700.woff2') format('woff2'), 
      url('../fonts/montserrat-v15-cyrillic-ext_cyrillic-700.woff') format('woff') 
	font-family: 'Montserrat' 
	font-style: italic 
	font-weight: 800 
	src: local(''),
      url:('../fonts/montserrat-v15-cyrillic-ext_cyrillic-800italic.woff2') format('woff2'), 
      url('../fonts/montserrat-v15-cyrillic-ext_cyrillic-800italic.woff') format('woff') 
	font-family: 'Montserrat' 
	font-style: normal 
	font-weight: 800 
	src: local(''),
      url:('../fonts/montserrat-v15-cyrillic-ext_cyrillic-800.woff2') format('woff2'), 
      url('../fonts/montserrat-v15-cyrillic-ext_cyrillic-800.woff') format('woff') 



body
  font-family: 'Montserrat'
  font-weight: 400
  margin: 0
  color: #5e5e5e

a
  text-decoration: none

ul
  list-style-type: none
  margin: 0
  padding: 0

main, .transition, .price, .footer
  height: 100vh

.center
  width: 100%
  height: 100%
  background-color: #ffffffa6
  display: flex;
  align-items: center;
  justify-content: center;
    

.container
  max-width: 1200px
  margin: 0 auto

.hover-slider-nav
  position: absolute
  top: 0
  left: 0
  z-index: 5
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  width: 100%
  height: 100%
  background-color: rgba(0, 0, 0, .4)
  &__item
    padding: 2vh
    font-size: 8vh
    font-weight: bold
  &__link
    font-family: 'Montserrat'
    color: rgba(255, 255, 255, .7)
    transition: .2s
    &--active
      color: rgba(255, 255, 255, 1)

.hover-slider
  position: relative
  width: 100%
  height: 100%
  overflow: hidden
  background-color: #000
  &__item
    position: absolute
    top: -2vh
    left: -2vw
    width: 104vw
    height: 104vh
    opacity: 0
    transition: .4s linear
    transform: translateY(-2vh)
    &-img
      width: 100%
      height: 100%
      object-fit: cover;
    &--active
      opacity: 1
      transform: translateY(0)

::selection
  color: #fff
  background: #007bff

.wrapper
  margin: 100px auto
  max-width: 1100px

.nav
  display: flex
  justify-content: space-around
  &__item
    width: 120px;
    height: 50px;
    border: none
    font: inherit;
    color: inherit;
    background-color: #e91e6314;
    border-radius: 10px;
    cursor: pointer
    transition: all 0.3s ease
  &__item.active,
  &__item:hover
    color: #fff
    background: #e91e63

@-webkit-keyframes heart-beat
  0%
    -webkit-transform: scale(1)
    transform: scale(1)

  14%
    -webkit-transform: scale(1.3)
    transform: scale(1.3)

  28%
    -webkit-transform: scale(1)
    transform: scale(1)

  42%
    -webkit-transform: scale(1.3)
    transform: scale(1.3)

  70% 
    -webkit-transform: scale(1)
    transform: scale(1)

@keyframes heart-beat
  0%
    -webkit-transform: scale(1)
    transform: scale(1)

  14%
    -webkit-transform: scale(1.3)
    transform: scale(1.3)

  28%
    -webkit-transform: scale(1)
    transform: scale(1)

  42%
    -webkit-transform: scale(1.3)
    transform: scale(1.3)

  70%
    -webkit-transform: scale(1)
    transform: scale(1)

.animate__heart-beat
  -webkit-animation-name: heart-beat
  animation-name: heart-beat
  -webkit-animation-duration: calc(1s * 1.3)
  animation-duration: calc(1s * 1.3)
  -webkit-animation-duration: calc(var(--animate-duration) * 1.3)
  animation-duration: calc(var(--animate-duration) * 1.3)
  -webkit-animation-timing-function: ease-in-out
  animation-timing-function: ease-in-out

.gallery
  display: flex
  flex-wrap: wrap
  margin-top: 30px
  &__image
    width: calc(100% / 8)
    margin: 7px
    overflow: hidden
  &__image.hide
    display: none
  &__image.hide
    display: none
  &__image.hide
    display: none
  &__image.show
    animation: animate 0.4s ease
  &__img
    width: 100%
    vertical-align: middle
    transition: all 0.3s ease
  &__img:hover 
    transform: scale(1.1)

@keyframes animate 
  0%
    transform: scale(0.5)
  
  100%
    transform: scale(1)

@-webkit-keyframes flip-in-x
  from
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg)
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg)
    -webkit-animation-timing-function: ease-in
    animation-timing-function: ease-in
    opacity: 0

  40%
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg)
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg)
    -webkit-animation-timing-function: ease-in
    animation-timing-function: ease-in

  60%
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg)
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg)
    opacity: 1

  80%
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg)
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg)

  to
    -webkit-transform: perspective(400px)
    transform: perspective(400px)

@keyframes flip-in-x
  from
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg)
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg)
    -webkit-animation-timing-function: ease-in
    animation-timing-function: ease-in
    opacity: 0

  40%
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg)
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg)
    -webkit-animation-timing-function: ease-in
    animation-timing-function: ease-in

  60%
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg)
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg)
    opacity: 1

  80%
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg)
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg)

  to
    -webkit-transform: perspective(400px)
    transform: perspective(400px)

.animate__flip-in-x
  -webkit-backface-visibility: visible !important
  backface-visibility: visible !important
  -webkit-animation-name: flip-in-x
  animation-name: flip-in-x

.video
  position: relative
  width: 100%
  height: 100vh
  &__carousel
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100vh
    object-fit: cover
  &__items
    position: absolute
    bottom: 75px
    left: 50%
    transform: translateX(-50%)
    z-index: 4
    display: flex
    justify-content: center
    align-items: center
  &__item
    margin: 0 10px
    border-radius: 4px
    background-color: #fff
    padding: 3px 3px 0
    opacity: 0.7
    transition: 0.5s
  &__item:hover
    opacity: 1
  &__img
    width: 150px
    transition: 0.5s
  &__img:hover
    width: 200px

.transition
  background-image: url(../images/fon/1586718254_11-p-krasivie-foni-iz-tsvetov-44.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  &-nav
    text-align: center
    &__list
      padding: 2vh;
      font-size: 6vh;
      font-weight: bold;
    &__link
      color: #585f00;

.price
  background-image: url(../images/fon/piony-tsvety-lepestki-serdechki.jpg);
  background-position: center;
  background-size: cover;
  justify-content: center;
  &__info
    text-align: center
    padding-bottom: 100px
  &__title
    font-size: 58px
    padding-bottom: 35px
  &__text
    font-size: 20px
  &__items
    display: grid
    grid-template-columns: repeat(4, 1fr)
    justify-items: center
    gap: 50px
  &__item
    color: #000

.price__inner
  display: flex


.tabs__nav 
  display: flex
  flex-direction: column


.tabs__btn
  width: 185px
  height: 100px
  padding: 15px 30px

  font-size: 20px

  background-color: #f5f5f5
  border: 1px solid #e91e6336
  cursor: pointer


.tabs__btn:last-child
  border-right: none


.tabs__btn:hover
  background-color: #e91e6317


.tabs__btn.active 
  background-color: #e91e63
  border-right-color: #5e3ddf
  color: #fff


.tabs__content
  width: 750px
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  padding-left: 30px

.tabs__text
  padding-bottom: 25px
  font-size: 40px;
  color: #000


.tabs__item 
  display: none


.tabs__item.active
  display: flex
  flex-direction: column

@keyframes fade-in-right
  from
    opacity: 0
    -webkit-transform: translate3d(100%, 0, 0)
    transform: translate3d(100%, 0, 0)

  to
    opacity: 1
    -webkit-transform: translate3d(0, 0, 0)
    transform: translate3d(0, 0, 0)


.animate__fade-in-right
  -webkit-animation-name: fade-in-right
  animation-name: fade-in-right


.footer
  background-image: url(../images/fon/thumb_l_38768.jpg);
  background-position: center;
  background-size: cover;
  justify-content: center;
  &__title
    text-align: center
    margin-bottom: 25px
    font-size: 42px
  &__lists
    display: flex;
    align-items: center;
    margin-bottom: 15px
  &__link
    margin-left: 10px
    color: #000
    font-size: 20px

  @-webkit-keyframes fade-in-down
  from
    opacity: 0
    -webkit-transform: translate3d(0, -100%, 0)
    transform: translate3d(0, -100%, 0)

  to
    opacity: 1
    -webkit-transform: translate3d(0, 0, 0)
    transform: translate3d(0, 0, 0)

@keyframes fade-in-down
  from
    opacity: 0
    -webkit-transform: translate3d(0, -100%, 0)
    transform: translate3d(0, -100%, 0)

  to
    opacity: 1
    -webkit-transform: translate3d(0, 0, 0)
    transform: translate3d(0, 0, 0)

.animate__fade-in-down
  -webkit-animation-name: fade-in-down
  animation-name: fade-in-down







@media (max-width: 1100px)
  .nav
    flex-wrap: wrap
    &__item
      width: 220px
      margin: 0 17px 15px 0
    &__item:nth-child(n+5)
      margin: 0 10px 0 0

@media (max-width: 970px)
  .nav
    &__item
      width: 175px

@media (max-width: 800px)
  .nav
    &__item
      width: 120px

  .video__img
    width: 100px

@media (max-width: 560px)
  .nav
    &__item
      width: 100px

  .video__img
    width: 50px



